# 空氣污染監測網 網路爬蟲實作練習


* 能夠利用 selenium + BeautifulSoup 撰寫爬蟲，並存放到合適的資料結構

## 作業目標

根據範例 ，完成以下問題：

* ① 取出 台北市士林區 2018/01 – 2018/08 的 SO2 資料
* ② 取出 台北市士林區 2018/01 – 2018/08 的 SO2、CO 資料

In [1]:
from selenium import webdriver
from selenium.webdriver.support.ui import Select
from bs4 import BeautifulSoup

# 打開瀏覽器
browser = webdriver.Chrome()
browser.get("https://taqm.epa.gov.tw/taqm/tw/MonthlyAverage.aspx")

In [2]:
selectSite = Select(browser.find_element_by_id("ctl05_ddlSite"))
selectSite.select_by_value("11")
selectYear = Select(browser.find_element_by_id("ctl05_ddlYear"))
selectYear.select_by_value("2018")

browser.find_element_by_id("ctl05_btnQuery").click()

In [3]:
# 取得資料（等瀏覽器資料出現後才執行）
html = browser.page_source

In [4]:
# 關閉瀏覽器
browser.close()

In [8]:
soup = BeautifulSoup(html, 'html.parser')
table = soup.find('table', class_="TABLE_G")

d = {}
for td in table.find_all('tr')[1:]:
    for i, t in enumerate(td.find_all('td')):
        if len(td) == 7:
            if i == 0:
                name = t.text
                d.setdefault(name,{})
            elif i == 2:
                date = t.text
            elif i == 3:
                value = t.text
                d[name][date] = value
        else:
            if i == 0:
                date = t.text
            elif i == 1:
                value = t.text
                d[name][date] = value

'''
d = {}
for i in table.find_all('tr')[1:9]:
    if len(i) == 7:
        name = i.find('td', class_='no-alt').text
        d.setdefault(name,{})
        date = i.find_all('td')[2].text
        value = i.find_all('td')[3].text
        d[name][date] = value
    else:
        date = i.find_all('td')[0].text
        value = i.find_all('td')[1].text
        d[name][date] = value
'''
print(d)

{'SO2': {'2018/01': '1.80', '2018/02': '1.90', '2018/03': '2.20', '2018/04': '2.30', '2018/05': '3.10', '2018/06': '2.70', '2018/07': '2.20', '2018/08': '2.40', '2018/09': '2.10', '2018/10': '1.70', '2018/11': '1.90', '2018/12': '1.80'}, 'CO': {'2018/01': '0.34', '2018/02': '0.44', '2018/03': '0.40', '2018/04': '0.38', '2018/05': '0.34', '2018/06': '0.29', '2018/07': '0.21', '2018/08': '0.30', '2018/09': '0.26', '2018/10': '0.29', '2018/11': '0.30', '2018/12': '0.35'}, 'O3': {'2018/01': '33.40', '2018/02': '32.50', '2018/03': '35', '2018/04': '38.40', '2018/05': '31.60', '2018/06': '29.50', '2018/07': '18.70', '2018/08': '26.40', '2018/09': '29.10', '2018/10': '45.90', '2018/11': '32.40', '2018/12': '30.70'}, 'PM10': {'2018/01': '23', '2018/02': '41', '2018/03': '39', '2018/04': '48', '2018/05': '37', '2018/06': '26', '2018/07': '24', '2018/08': '26', '2018/09': '28', '2018/10': '33', '2018/11': '25', '2018/12': '21'}, 'NOx': {'2018/01': '14.17', '2018/02': '19.43', '2018/03': '18.50', '2018/04': '15.24', '2018/05': '15.20', '2018/06': '13.79', '2018/07': '11.60', '2018/08': '14.75', '2018/09': '12.40', '2018/10': '12.45', '2018/11': '13.41', '2018/12': '14.56'}, 'NO': {'2018/01': '3.41', '2018/02': '4.48', '2018/03': '4.93', '2018/04': '2.60', '2018/05': '2.26', '2018/06': '2.41', '2018/07': '2.68', '2018/08': '2.68', '2018/09': '2.41', '2018/10': '2.13', '2018/11': '2.71', '2018/12': '3.42'}, 'NO2': {'2018/01': '10.77', '2018/02': '14.95', '2018/03': '13.56', '2018/04': '12.64', '2018/05': '12.94', '2018/06': '11.38', '2018/07': '8.92', '2018/08': '12.08', '2018/09': '10', '2018/10': '10.33', '2018/11': '10.71', '2018/12': '11.15'}, 'THC': {'\xa0': '\xa0'}, 'NMHC': {'\xa0': '\xa0'}, 'CH4': {'\xa0': '\xa0'}}

### ① 取出 台北市士林區 2018/01 – 2018/08 的 SO2 資料

In [18]:
print("===== 取出 台北市士林區 2018 的 SO2 資料 =====")
print(d['SO2'])

print("===== 取出 台北市士林區 2018/01 – 2018/08 的 SO2 資料 =====")
print(dict([(key, value) for key, value in d['SO2'].items() if key < '2018/09']))

import pandas as pd

d_SO2 = [{"時間":key, "數值": value} for key, value in d["SO2"].items() if key < '2018/09']
pd.DataFrame(d_SO2)

===== 取出 台北市士林區 2018 的 SO2 資料 =====
{'2018/01': '1.80', '2018/02': '1.90', '2018/03': '2.20', '2018/04': '2.30', '2018/05': '3.10', '2018/06': '2.70', '2018/07': '2.20', '2018/08': '2.40', '2018/09': '2.10', '2018/10': '1.70', '2018/11': '1.90', '2018/12': '1.80'}
===== 取出 台北市士林區 2018/01 – 2018/08 的 SO2 資料 =====
{'2018/01': '1.80', '2018/02': '1.90', '2018/03': '2.20', '2018/04': '2.30', '2018/05': '3.10', '2018/06': '2.70', '2018/07': '2.20', '2018/08': '2.40'}

     數值       時間
0  1.80  2018/01
1  1.90  2018/02
2  2.20  2018/03
3  2.30  2018/04
4  3.10  2018/05
5  2.70  2018/06
6  2.20  2018/07
7  2.40  2018/08

### ② 取出 台北市士林區 2018/01 – 2018/08 的 SO2、CO 資料

In [23]:
print("===== 取出 台北市士林區 2018/01 – 2018/08 的 SO2、CO 資料 =====")

d_SO2 = [{"時間":key, "SO2": value} for key, value in d["SO2"].items() if key < '2018/09']
d_CO = [{"時間":key, "CO": value} for key, value in d["CO"].items() if key < '2018/09']

pd.merge(pd.DataFrame(d_SO2), pd.DataFrame(d_CO))

===== 取出 台北市士林區 2018/01 – 2018/08 的 SO2、CO 資料 =====

    SO2       時間    CO
0  1.80  2018/01  0.34
1  1.90  2018/02  0.44
2  2.20  2018/03  0.40
3  2.30  2018/04  0.38
4  3.10  2018/05  0.34
5  2.70  2018/06  0.29
6  2.20  2018/07  0.21
7  2.40  2018/08  0.30